/backend-spring
flask/student-dashboard/
parser/app.py
parser/clients/__pycache__/spring_client.cpython-313.pyc
parser/clients/__pycache__/spring_client.cpython-314.pyc
parser/clients/spring_client.py
parser/data/income.csv
parser/Dockerfile
parser/README.md
parser/requests
parser/requirements.txt
parser/routes/__pycache__/import_routes.cpython-313.pyc
parser/routes/__pycache__/import_routes.cpython-314.pyc
parser/routes/import_routes.py
parser/services/__pycache__/bank_service.cpython-313.pyc
parser/services/__pycache__/csv_service.cpython-313.pyc
parser/services/__pycache__/csv_service.cpython-314.pyc
parser/services/__pycache__/normalization_service.cpython-313.pyc
parser/services/__pycache__/normalization_service.cpython-314.pyc
parser/services/csv_service.py
parser/services/normalization_service.py
